<!-- HEADER, NAV -->
<header id="header">
    <a href="/" class="header-logo">
        <img src="/imagenes/logo-maker-planet.svg" alt="MakerPlanet Logo">
    </a>

    <nav class="header-nav">
        <a class="cont-busqueda lupa">
        <img src="/imagenes/header/search-icon.png" alt="Buscar productos" class="buscar cr-lupa">
        <img src="/imagenes/header/x.png" alt="Cerrar búsqueda" class="cerrar cr-lupa">
        <input type="checkbox" class="search cr-lupa">
        </a>
        <a href="#">
        <img src="/imagenes/header/user-icon.png" alt="Cuenta de usuario">
        </a>
        <a href="/carrito/">
        <img src="/imagenes/header/cart-icon.png" alt="Carrito de compras">
        </a>
        <a class="cont-busqueda menu">
        <img src="/imagenes/header/menu-icon.png" alt="Menú desplegable" class="buscar cr-menu">
        <img src="/imagenes/header/x.png" alt="Cerrar búsqueda" class="cerrar cr-menu">
        <input type="checkbox" class="search cr-menu">
        </a>
    </nav>
</header>

<!-- HEADER, NAV AUXILIAR -->
<aside id="nav-extra">
    <div class="container-busqueda">
        <search class="c-busq">
        <img src="/imagenes/header/search-icon.png" alt="Buscar productos">
        <input type="text" name="" id="" placeholder="Buscar...">
        </search>
        <ul>
        <li><a>¿Y qué te parece...?</a></li>
        <li><a href="/prod-lego/">Productos de LEGO</a></li>
        <li><a href="/prod-megabloks/">Productos de MEGA BLOKS</a></li>
        <li><a href="/prod-magnatiles/">Productos de MAGNA-TILES</a></li>
        <li><a href="/prod-meccano/">Productos de MECCANO</a></li>
        </ul>
    </div>
    <nav class="container-menu">
        <ul>
        <li><a href="/prod-lego/">LEGO</a>
            <ul>
            <li><a href="/prod-lego/#primer-prod">LEGO STAR WARS</a></li>
            <li><a href="/prod-lego/#productos-hp">LEGO HARRY POTTER</a></li>
            <li><a href="/prod-lego/#productos-d">LEGO DISNEY</a></li>
            </ul>
        </li>
        <li><a href="/prod-megabloks/">MEGA BLOKS</a>
            <ul>
            <li><a href="/prod-megabloks/#primer-prod">MEGA BLOKS KIDS</a></li>
            <li><a href="/prod-megabloks/#productos-hp">MEGA BLOKS HALLO</a></li>
            <li><a href="/prod-megabloks/#productos-d">MEGA BLOKS DRAGONS</a></li>
            </ul>
        </li>
        <li><a href="/prod-magnatiles/">MAGNA-TILES</a>
            <ul>
            <li><a href="/prod-magnatiles/#primer-prod">MAGNA-TILES NIÑOS</a></li>
            <li><a href="/prod-magnatiles/#productos-hp">MAGNA-TILES DESIERTO</a></li>
            <li><a href="/prod-magnatiles/#productos-d">MAGNA-TILES MAR</a></li>
            </ul>
        </li>
        <li><a href="/prod-meccano/">MECCANO</a>
            <ul>
            <li><a href="/prod-meccano/#primer-prod">MECCANO RACE</a></li>
            <li><a href="/prod-meccano/#productos-hp">MECCANO SKY</a></li>
            <li><a href="/prod-meccano/#productos-d">MECCANO WHEELS</a></li>
            </ul>
        </li>
        </ul>
    </nav>
</aside>